@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #334;
}

/* TITULO */

.titulo {
    margin-top: 120px;
    margin-bottom: 90px;
    position: relative;
    font-size: 3.2em;
    letter-spacing: 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 169, 244);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    outline: none;
    line-height: 0.70em;
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%,
    10%,
    15%,
    20%,
    50%,
    60%,
    70%,
    90% {
        color: rgb(223, 97, 248);
        text-shadow: none;
    }

    10.1%,
    15.1%,
    20.1%,
    50.1%,
    60.1%,
    70.1%,
    90.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px rgb(175, 97, 248),
            0 0 20px rgb(248, 220, 97),
            0 0 40px rgb(248, 97, 173),
            0 0 80px rgb(248, 220, 97),
            0 0 160px rgb(248, 97, 210);
    }
}

/* TITULO FIN */

section {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

section ul li {
    list-style: none;
    background: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

section ul li.active {
    background: #9864ff;
    color: #fff;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.active {
    display: block;
}

.photos .itemBox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
    display: block;
}

.photos .itemBox.hide {
    display: none;
}

.photos .itemBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.itemBox {
    margin-bottom: 6px;
    cursor: pointer;
}

.itemBox:hover {
    opacity: 0.9;
}

.gallery-content {
    font-size: 0.8em;
}

.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(128, 128, 128, 0.8);
    /* Fondo gris medio */
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

.lightbox-content {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5% auto;
}

.lightbox-content img {
    border-radius: 3px;
    border: 6px solid white;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
}

.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 9px;
    top: 45%;
    cursor: pointer;
}

.lightbox-prev {
    left: 0;
}

.lightbox-next {
    right: 0;
}

.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .gallery-container {
        width: 100%;
    }

    .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }

    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 1px;
    }

    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
}

/* Footer */

.footer-distributed {
    background-color: #292424;
    text-align: left;
    padding: 50px 50px 60px 50px;
    width: 100%;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffff;
    margin: 0;
}

.footer-distributed h3 span {
    color: #b693f7;
}

.footer-distributed .footer-links {
    color: #fff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;

}

.footer-distributed .footer-logo-name {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    color: #8f9296;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.ri-mail-fill {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center a {
    color: #b693f7;
    font-weight: 600;
    text-decoration: none;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #b693f7;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;

}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    text-decoration: none;
}

.footer-center div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer-links a:hover {
    color: #b693f7;
}

.footer-distributed .footer-icons a:hover {
    background-color: #b693f7;
}







@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

    .nav-links ul li {
        margin-right: 18px;

    }
}


/* Footer End */

/* NAV */

nav {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
  }
  
  nav:after {
    content: '';
    clear: both;
    display: table;
  }
  
  nav .logo {
    float: left;
    padding-left: 50px;
  }
  
  nav .logo-img {
    float: left;
    position: relative;
    height: 70px;
    margin: 0;
    cursor: pointer;
  }
  
  nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
  }
  
  nav ul li {
    float: left;
    display: inline-block;
  }
  
  nav ul li .link {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 15px;
  }
  li .link:hover {
    color: #b693f7;
}
  
  
  nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid #00c3ff;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
  }
  
  nav ul ul ul {
    border-top: none;
  }
  
  nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  
  nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  nav ul ul li .link {
    line-height: 50px;
  }
  
  nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
  }
  
  
  /* NAV FIN */
  /*---- Icono de Nav ----*/
.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  
  .icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
  }
  
  .show,
  .icon,
  input {
    display: none;
  }
  
  @media all and (max-width: 968px) {
    nav ul {
      margin-right: 0px;
      float: left;
    }
  
    nav .logo {
      padding-left: 30px;
      width: 100%;
    }
  
    .show+.link,
    ul {
      display: none;
    }
  
    nav ul li,
    nav ul ul li {
      display: block;
      width: 100%;
    }
  
    nav ul li .link:hover {
      box-shadow: none;
    }
  
    .show {
      display: block;
      color: white;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
    }
  
    .show:hover {
      color: #dd6dff;
    }
  
    .icon {
      display: block;
      color: white;
      position: absolute;
      top: 100;
      /* las 3 barras*/
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
    }
  
    nav ul ul {
      top: 70px;
      border-top: 0px;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
    }
  
    nav ul ul .link {
      padding-left: 40px;
    }
  
    nav ul ul ul .link {
      padding-left: 80px;
    }
  
    nav ul ul ul li {
      position: static;
    }
  
    [id^=btn]:checked+ul {
      display: block;
    }
  
    nav ul ul li {
      border-bottom: 0px;
    }
  
    span.cancel:before {
      content: '\f00d';
    }
  
  }

  @media (max-width: 500px) {
        .titulo{
            font-size: 2.5em;
        }
  }

  @media (max-width: 430px) {
      .titulo {
          font-size: 2em;
      }
  }

   @media (max-width: 380px) {
       .titulo {
           font-size: 1.5em;
       }
   }